//
//  Development.xcconfig
//  Books App
//
//  Created by Alfredo Villagomez on 2/15/19.
//  Copyright © 2019 Alfredo Villagomez. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-Books App/Pods-Books App.debug.xcconfig"

IS_APP_NAME = Books App
IS_APP_VERSION = 1
IS_APP_BUNDLE_ID = website.alfredo.Books-App
